 <head>
    <title>Spotify Scanner</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 </head>

 <body>
    <main id="app">
       <div class="position-absolute top-50 start-50 translate-middle">
          <div v-if="!code || !codeVerifier">
             <button class="btn btn-primary" v-on:click="signIn()">Sign-in with Spotify</button>
          </div>
          <div v-if="code && codeVerifier && !token">
             Fetching access token from Spotify...
          </div>
          <div v-if="token">
             <a :href="token">{{token}}</a><br>
          </div>
       </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="util/cookies.js"></script>
    <script src="util/PKCE.js"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="index.js"></script>
 </body>